/* Universal Styles */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-size: 16px;
  color: #4a4a4a;
  font-family: 'Roboto';
}
body {
  line-height: 1.5;
  width: 100%;
}

section {
  display: flex;
  padding: 2rem 1.5rem;
  width: auto;
  margin: 0 auto;
  border-bottom: 1px dotted lightgray;
}

/* div {
  border: 1px solid green;
} */

.section-title {
  margin-bottom: 2rem;
  /* text-align: center; */
}

@media screen and (max-width: 600px) {
  .section-title {
    margin-bottom: 1rem;
  }
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header */
  flex: 1;
}

.button {
  color: white;
  background-color: #4a4a4a;
}

.flex {
  display: flex;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  width: 100%;
}

.light {
  font-weight: 300;
}

.mobile {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: white;
  z-index: 1;
  top: 0;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

header .logo {
  display: flex;
  flex: 1;
  align-items: center;
  font-family: 'Lato';
}

header nav ul {
  display: flex;
}


nav li {
  padding: 0 0.5rem;
}

/* Mobile header */
@media screen and (max-width: 600px) {
  header .desktop {
    display: none
  }

  header nav.mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

/* Banner Section */

.banner {
  align-items: center;
  background-color: lightgray;
}

@media screen and (max-width: 600px) {
  .banner {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.banner .image-container {
  width: 60%;
  margin-right: 1.5rem;
}

@media screen and (max-width: 600px) {
  .banner .image-container {
    width: 100%;
    margin: 0;
  }
}

.banner .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  /* margin-left: 1.5rem; */
}

@media screen and (max-width: 600px) {
  .banner .content {
    padding: 2rem 1rem;
    max-width: 100%;
  }
}

.banner h2 {
  font-size: 2.125rem;
  margin-bottom: 2rem;
}

.banner h3 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.banner .button {
  padding: 0.5rem 4rem;
  text-align: center;
}

/* Information section */

#testimonial-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 1.5rem;
}

#testimonial-container h2 {
  padding: 1.5rem 0;
}

/* Hide testimonial on mobile */
@media screen and (max-width: 600px) {

  #info-section {
    padding: 1rem 1rem 2rem 1rem;
  }

  #testimonial-container {
    display: none;
  }
}

.infocards {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: 1px dotted lightgray;
}

@media screen and (max-width: 600px) {
  .infocards {
    width: 100%;
    border: none;
  }
}

.infocard {
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 33%;
  border-top: 1px dotted lightgray;
  border-bottom: 1px dotted lightgray;
  /* width: auto; */
}

@media screen and (max-width: 600px) {
  .infocard {
    border: none;
    align-items: flex-start;
  }
}

.infocard .image-container {
  width: 35%;
}

.infocard .content {
  margin-left: 1rem;
  width: 65%;
}

.infocard .content a {
  color: blue;
}

@media screen and (min-width: 600px) {
  .infocard:last-child {
    background-color: lightgray;
  }
}

@media screen and (max-width: 600px) {
  .infocards {
    width: auto;
  }

  .infocard {
    flex-direction: column;
    padding-bottom: 4rem;
    padding-top: 0;
  }

  .infocard .image-container {
    width: auto;
    /* padding: 1rem; */
  }

  .infocard .content {
    margin-left: 1rem;
    line-height: 1.5rem;
  }

  .infocard img.desktop{
    display: none;
  }
  .infocard img.mobile{
    display: inline-flex;
  }
}

/* Courses Section */

#courses-section {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: lightgray;
}

@media screen and (max-width: 600px) {
  #courses-section {
    background-color: white;
  }
}

#courses-cta {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  margin: 0 2rem;
}

@media screen and (max-width: 600px) {
  #course-cta {
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
  }
}

.course {
  width: 30%;
  background-color: white;
  margin: 1rem;
  padding: 1rem auto 1.5rem 1rem;
}

@media screen and (max-width: 600px) {
  .course {
    width: 90%;
    margin: 0.5rem;
    background-color: lightgray;
  }
}

.course .content {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course .image-container {
  width: 100%;
}

@media screen and (max-width: 600px) {
    .course .image-container,
    .course p {
      display: none;
    }
}

/* Exhibits Section */

#exhibits-section {
  flex-direction: column;
  align-items: center;
}

#exhibits-cta {
  display: flex;
  justify-content: center;
  width: 100%;
}

#exhibit-featured {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 1.5rem;
}

#exhibit-featured .image-container {
  width: 100%;
}

/* Hide featured exhibit content on mobile */
@media screen and (max-width: 600px) {
  #exhibits-section {
    padding: 2rem 0 1.5rem 0;
  }

  #exhibit-featured {
    width: 100%;
    margin: 0;
  }

  #exhibit-featured .content{
    display: none;
  }
}

#exhibit-featured .content h3 {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

#exhibit-cards {
  display: flex;
  flex-direction: column;
  width: 40%;
}

/* Hide exhibit cards on mobile */
@media screen and (max-width: 600px) {
  #exhibit-cards{
    display: none;
  }
}

#exhibit-cards .exhibit {
  display: flex;
  align-items: center;
  width: auto;
  padding: 1rem;
}

#exhibit-cards .exhibit:first-child {
  background-color: lightgray;
}

.exhibit .image-container {
  width: 35%;
}

.exhibit .content {
  margin-left: 1rem;
  width: 65%;
}

/* Footer section */
footer {
  padding: 1rem 1.5rem 2rem 1.5rem;
  /* border-top: 1px dotted lightgray; */
}

@media screen and (max-width: 600px) {
  footer {
    padding: 1rem;
  }
}

footer .content {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 0.75rem;
}

footer .copyright {
  margin-right: auto;
}

footer .legal {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
}

/* Hide legal items on mobile */
@media screen and (max-width: 600px) {
  footer .legal {
    display: none;
  }
}

footer .legal a {
  padding: 0 0.5rem;
}
